 <!-- <form method = "post">{% csrf_token%}
  {{form.as_p}}
  <button type = "submit">save</button>
</form> --> 

 <!-- <!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title> -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="container">
<h1 style= "font-family: Lucida calligraphy">TEACHER'S REGISRATION FORM</h1>

  <style>
   body{
    margin-left: 10px;
    padding-top: 15px;
    color: #800000;
    font-family: verdana;
    font-size: 20px;
    background-color: #cccc;
    /*width: 200px;*/
    margin: 0 auto;
   } 
  body h1{
    color: green;
    font-weight: bold;
  }
  
  </style>
  {% load crispy_forms_tags %}

  
  <form method="post">

    {% csrf_token %}
    {{ form|crispy }}

    <button type="submit">Save</button>
  </form>
  
</form> 
</body>
</html>   
