<!DOCTYPE html>
<html lang="en">
<html>
<head>

	<title>all teachers</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>


<body>
	<h1 style= "font-family: Lucida calligraphy">Profile image<h1>
	<img src = {{teacher.image.url}}/>
	<p>First Name:{{teacher.first_name}}</p>
	<p>Last Name:{{teacher.last_name}}</p>
	<p>Gender:{{teacher.gender}}</p>
	<p>Email:{{teacher.e_mail}}</p>
	<p>Phone Number:{{teacher.phone_number}}</p>
	<p>Date Joined:{{teacher.date_joined}}</p>
	<p>Proffesional:{{teacher.proffessional}}</p>
	<p>Subject:{{teacher.subject }}</p>
	<p>Id no:{{teacher.id_number}}</p>
	 <button ><a href="/teacher/edit/{{teacher.pk}}/">New Teacher</a></button>

	
	<style>
		body h1{
		    color: green;
		    font-weight: bold;
		    background-color: #ccc;
		    margin-top: 1px;
		    margin-bottom: -2px;

          }
          p{
          	color:   #800000;
          }
	</style>



</body>
</html>